@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

:root {
  --background: #ffffff;
  --dark-gray-blue: #212529;
  --gray-dark-1: #343a40;
  --gray-light-1: #495057;
  --gray-light-2: #6c757d;
  --foreground: #ced4da;
  --green: #1aaa15;
  --green-hover: #26a521;
  --red: #d21414;
  --red-hover: #b71010;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}