@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

:root {
  --background: #ffffff;
  --dark-gray-blue: #212529;
  --gray-dark-1: #343a40;
  --gray-light-1: #495057;
  --gray-light-2: #6c757d;
  --foreground: #ced4da;
  --green: #1aaa15;
  --green-hover: #26a521;
  --red: #d21414;
  --red-hover: #b71010;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pad-30 {
  padding: 30px;
}

.margin-top {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.pad-20 {
  padding: 20px;
}

.txt-border {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.pad-btn {
  padding: 5px 10px;
}

.pad-btn-2 {
  padding: 5px 20px;
}

.pad-inp {
  padding: 10px 30px;
}

/* Remove clear button (Chrome, Edge, Safari) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Remove search icon on the left (Safari) */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove default outline on focus */
input[type="search"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="search"]:active {
  outline: none;
  box-shadow: none;
}

.m-left {
  margin-left: 240px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: var(--gray-dark-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-light-1)
}
